@value colors: "./styles/colors.css";
@value colorBackgroundLight from colors;

html {
  box-sizing: border-box;
  background-color: colorBackgroundLight;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  composes: wrapper from './styles/styles.css';
}
